@media screen and (max-width: 375px) {

body {
 max-width: 375px;
 background-color: #fff;    
 font-family: Hiragino Sans,hiragino-kaku-gothic-pron, sans-serif;
 color:#505050; 
}

header {
    width: 375px;
    height: 50px;
    background-color: yellow;   
    display: flex;
    align-items: center;
   }

   #shop_name {
    width: 180px; 
    font-size: 20px;
    font-weight: 250;
    padding: 5x 0 0 0;
    margin: 0 0 0 20px; 
    letter-spacing: -0.3px;
   }

   #navi {
    display: none;
   }

   /* main_visual */
   #main_visual {
    position: relative;    
    z-index: 10; 
   }

   #fv-sp {
    width: 375px;
    height: 550px; 
   }

   #fv-pc {
    display: none;
   }

   #main_visual > h1 {
    position: absolute;
    top: 8%;
    left: 7%;
    width: 325px;
    text-align: center;
    font-family: "source-han-sans-vf", sans-serif;
    font-variation-settings: "wght" 300;
    letter-spacing : 0.01em;
    line-height: 1.5;
    font-size: 35px;    
    z-index: 11;
   }

}