html {
 padding: 0;
 margin 0;    
}

body {
    max-width: 1080px;
    height: 1655;
    background-color: #fff;
    
    font-family: Hiragino Sans;    
}

header {
 height: 50px;
 background-color: yellow;
 display: flex;
 justify-content: space-between;
}

#shop_name {
 width: 173px; 
 color: #505050;
 font-size: 20px;
 font-weight: 250;
 padding: 15px 0 0 0;
 margin: 0 0 0 59px; 
}

#navi {
 width: 200px; 
 display: flex;
 justify-content: center;
 margin: 0 37px 0 0;
}

#navi_menu {
 width: 73px;
 height: 33px
 color:#505050;
 font-size: 20px;
 font-weight: 250;  
 padding: 16px 0 0 0;
 margin: 0 0 0 -22px;  
}

#navi_about {
 width: 73px;
 height: 33px
 color: #505050;
 font-size: 20px;
 font-weight: 250;  
 padding: 15px 0 0 0;
 margin: 0 0 0 25px;
}

#main_visual > img{
 width: 1080px;
 height: 500px;
 z-index: 10;
}

#main_visual > h1 {
 background-color: yellow;
 width: 518px;
 height: 60px;
 font-family: Hiragino Sans;
 font-size: 38px;
 font-weight: 250; 
 z-index: 11;
}



