body {
    max-width: 1080px;
    height: 1655;
    background-color: #fff;
    
    font-family: Hiragino Sans;
    
}

header {
 height: 42px;
 background-color: yellow;
 display: flex;
 justify-content: space-between;
}

#shop_name {
 width: 173px;
 
 color: #505050;
 font-size: 20px;
 font-weight: 250;
 padding: 2px 0 0 0;
 margin: 0 0 0 61px;
}

#navi {
 width: 200px; 
 display: flex;
 justify-content: center;
 margin: 0 37px 0 0;
}

#navi_menu {
 width: 73px;
 height: 33px
 color: #505050;
 font-size: 20px;
 font-weight: 250;  
 padding: 3px 0 0 0;
 margin: 0 0 0 1px;  
}

#navi_about {
 width: 73px;
 height: 33px
 color: #505050;
 font-size: 20px;
 font-weight: 250;  
 padding: 3px 0 0 0;
 margin: 0 0 0 25px;
}

#top_visual > img{
 width: 1080px;
 height: 500px;
}



